<link rel="stylesheet" href="/stylesheets/login.css">


<section>
<div id="login-form" class= "loginAll">
	<div class = "botonesLog">
		<h2>LOGIN</h2>
  <form action="/auth/login" method="POST" class = "formLogin">

{{!-- <div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Usuario</label>
  <input type="text" class="form-control" id="exampleFormControlInput1" name ="username" placeholder="Nombre de usuario" >
</div> --}}

		{{!-- // --}}
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Correo Electronico</label>
  <input type="email" class="form-control" id="exampleFormControlInput2" name ="email" placeholder="Correo Electronico">
</div>


<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Contrase;a</label>
  <input type="password" class="form-control" id="exampleFormControlInput3" name ="password" >
</div>
    <button class="boton" type="submit">Log In</button>
		</div>


    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}
  </form>
</div>
</section>