
<div id="seller">
  <h2>Seller</h2>
  <form action="/auth/seller" method="POST">

  <label> Name
      <input type="text" name="Name" placeholder="Your name" />
    </label>

<label> Lastname
      <input type="text" name="Lastname" placeholder="Your Lastname" />
    </label>

   <label> Company
      <input type="text" name="company" placeholder="Your companyname" />
    </label>

    
    <label> Email
      <input type="email" name="email" placeholder="Your email" />
    </label>

    <label> Password
      <input type="password" name="password" placeholder="Your password" />
    </label>

    <button type="submit">Sign Up</button>


    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}
  </form>
</div>
