<link rel="stylesheet" href="/stylesheets/seller.css">

<section>
<div id="seller-form" class= "vendedor">

  <h2>Seller</h2>
 
  <form action="/auth/signup" method="POST" class = "carga">

<div class="formulario">

<div>
  <div class="nombre">
  <label> Name</label>
  </div>
      <input type="text" name="name" placeholder="Your name"  class="btn btn-light"/>
    </div>

<div>
<div class="apellido">
<label> Lastname
  </div>
      <input type="text" name="lastname" placeholder="Your Lastname"  class="btn btn-light" />
    </label>
</div>


<div>
<div class="compania">
   <label> Company
    </div>
      <input type="text" name="company" placeholder="Your companyname" class="btn btn-light" />
    </label>
      </div>

    <div>
      <div class="correo">
    <label> Email
      </div>
      <input type="email" name="email" placeholder="Your email" class="btn btn-light"/>
    </label>
    </div>

<div>
  <div class="con">
    <label> Password
      </div>
      <input type="password" name="password" placeholder="Your password" class="btn btn-light"/>
    </label>
</div>

<div class="boton">
    <button type="submit">Sign Up</button>
    </div>
</div>

    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}
  </form>
</div>
</section>