<div class = "hero">
<nav>
	<ul>
		<div>

			{{user.email}}
			<div class = "avatar">
				{{#if user}}
				<a href="/auth/logout"><button>Logout</button></a>

				{{else}}
				<a href="/auth/signup"><button>Registrate como </button>Usuario</a>
				<a href="/auth/seller"><button>Registrate como Vendedor</button></a>
				<a href="/auth/login"><button>Inicia Sesion</button></a>

				{{/if}}
		</div>
		</div>
		
		<h3>
			E&C
			
		</h3>
		

<div>
	<ul class = "nav">
		</li>
	
	<li class = "menu"><button class="btn btn-outline-dark">MUJER</button>
	<ul>
		<li> <button class="btn btn-outline-dark"> ZARA</button></li>
		<li> <button class="btn btn-outline-dark"> AEROPOSTAL</button></li>
		<li> <button class="btn btn-outline-dark"> ADIDAS</button></li>
	</ul>
	</li>

	<li class = "menu"><button class="btn btn-outline-dark">HOMBRE</button>
	<ul>
		<li> <button class="btn btn-outline-dark"> NIKE</button></li>
		<li> <button class="btn btn-outline-dark"> CUIDADO CON EL PERRO</button></li>
		<li> <button class="btn btn-outline-dark"> PULL&BEAR</button></li>
	</ul>
	</li>
	<li class = "menu"><button class="btn btn-outline-dark">NINOS</button>
	<ul>
		<li> <button class="btn btn-outline-dark"> LEGO</button></li>
		<li> <button class="btn btn-outline-dark"> FISHER-PRICE</button></li>
		<li> <button class="btn btn-outline-dark"> FILA</button></li>
	</ul>
	</li>
	<li class = "menu"><button class="btn btn-outline-dark">JOYERIA Y RELOJES </button>
	<ul>
		<li> <button class="btn btn-outline-dark"> MONT BLACK</button></li>
		<li> <button class="btn btn-outline-dark"> ROLEX</button></li>
		<li> <button class="btn btn-outline-dark"> SEIKO</button></li>
	</ul>
	</li>
	<li class = "menu"><button class="btn btn-outline-dark">BELLEZA</button>
	<ul>
		<li> <button class="btn btn-outline-dark"> CALVIN KLEIN</button></li>
		<li> <button class="btn btn-outline-dark"> DIOR</button></li>
		<li> <button class="btn btn-outline-dark"> GUCCI</button></li>
	</ul>
	</li>
	<li class = "menu"><button class="btn btn-outline-dark">ELECTRONICA</button>
	<ul>
		<li> <button class="btn btn-outline-dark"> APPLE</button></li>
		<li> <button class="btn btn-outline-dark"> SAMSUNG</button></li>
		<li> <button class="btn btn-outline-dark"> LG</button></li>
	</ul>
	</li>
	<li class = "menu"><button class="btn btn-outline-dark">DEPORTES</button>
	<ul>
		<li> <button class="btn btn-outline-dark"> ADIDAS</button></li>
		<li> <button class="btn btn-outline-dark"> NIKE</button></li>
		<li> <button class="btn btn-outline-dark"> LACOSTE</button></li>
	</ul>
	</li>
	</ul>

</div>

	</ul>
</nav>

</div>