<div class = "hero">
<nav>
	<ul>
		<div>

			{{user.email}}
			<div class = "avatar">
				{{#if user}}
				<a href="/auth/logout"><button>Logout</button></a>

				{{else}}
				<div class = "mb3">
					¿Ya tienes cuenta ? <a href="/auth/login">Accede </a>
					<br>
					Registrate como : <a href="/auth/signup">Cliente</a> o <a href="/auth/seller">Vendedor</a>

				</div>
				{{/if}}
		</div>	
		</div>
		
		<h3>
			E&C
			
		</h3>
		

<div>
	<ul class = "nav">
		</li>
	
	<li class = "menu"><button class="btn btn-outline-dark">MUJER</button>
	<ul>
		<li> <button class="btn btn-outline-dark"> ZARA</button></li>
		<li> <button class="btn btn-outline-dark"> AEROPOSTAL</button></li>
		<li> <button class="btn btn-outline-dark"> ADIDAS</button></li>
	</ul>
	</li>

	<li class = "menu"><button class="btn btn-outline-dark">HOMBRE</button>
	<ul>
		<li> <button class="btn btn-outline-dark"> NIKE</button></li>
		<li> <button class="btn btn-outline-dark"> CUIDADO CON EL PERRO</button></li>
		<li> <button class="btn btn-outline-dark"> PULL&BEAR</button></li>
	</ul>
	</li>
	<li class = "menu"><button class="btn btn-outline-dark">NINOS</button>
	<ul>
		<li> <button class="btn btn-outline-dark"> LEGO</button></li>
		<li> <button class="btn btn-outline-dark"> FISHER-PRICE</button></li>
		<li> <button class="btn btn-outline-dark"> FILA</button></li>
	</ul>
	</li>
	<li class = "menu"><button class="btn btn-outline-dark">JOYERIA Y RELOJES </button>
	<ul>
		<li> <button class="btn btn-outline-dark"> MONT BLACK</button></li>
		<li> <button class="btn btn-outline-dark"> ROLEX</button></li>
		<li> <button class="btn btn-outline-dark"> SEIKO</button></li>
	</ul>
	</li>
	<li class = "menu"><button class="btn btn-outline-dark">BELLEZA</button>
	<ul>
		<li> <button class="btn btn-outline-dark"> CALVIN KLEIN</button></li>
		<li> <button class="btn btn-outline-dark"> DIOR</button></li>
		<li> <button class="btn btn-outline-dark"> GUCCI</button></li>
	</ul>
	</li>
	<li class = "menu"><button class="btn btn-outline-dark">ELECTRONICA</button>
	<ul>
		<li> <button class="btn btn-outline-dark"> APPLE</button></li>
		<li> <button class="btn btn-outline-dark"> SAMSUNG</button></li>
		<li> <button class="btn btn-outline-dark"> LG</button></li>
	</ul>
	</li>
	<li class = "menu"><button class="btn btn-outline-dark">DEPORTES</button>
	<ul>
		<li> <button class="btn btn-outline-dark"> ADIDAS</button></li>
		<li> <button class="btn btn-outline-dark"> NIKE</button></li>
		<li> <button class="btn btn-outline-dark"> LACOSTE</button></li>
	</ul>
	</li>
	</ul>

</div>

	</ul>
</nav>
<div id="carouselExampleCaptions" class="carousel slide carrusel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2" class="active" aria-current="true"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3" class=""></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4" class=""></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item">
					<img class = "img-carrusel" src="/images/nike.jpg"/>
          <div class="carousel-caption d-none d-md-block">
          
            <p>Some representative placeholder content for the first slide.</p>
          </div>
        </div>
        <div class="carousel-item active">
          <svg class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" width="800" height="400" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Second slide" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#666"></rect><text x="50%" y="50%" fill="#444" dy=".3em">Second slide</text></svg>
          <div class="carousel-caption d-none d-md-block">
          
            <p>Some representative placeholder content for the second slide.</p>
          </div>
        </div>
        <div class="carousel-item">
          <svg class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" width="800" height="400" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Third slide" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#555"></rect><text x="50%" y="50%" fill="#333" dy=".3em">Third slide</text></svg>
          <div class="carousel-caption d-none d-md-block">
           
            <p>Some representative placeholder content for the third slide.</p>
          </div>
        </div>
        <div class="carousel-item">
          <svg class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" width="800" height="400" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Third slide" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#444"></rect><text x="50%" y="50%" fill="#333" dy=".3em">fourth slide</text></svg>
          <div class="carousel-caption d-none d-md-block">
           
            <p>Some representative placeholder content for the fourth slide.</p>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

</div>