*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
  font-size: 35px;

}
.loginAll{
	background-image: url("/images/FondoSignup.avif");
	background-size: cover;
	background-repeat: no-repeat;
	padding-top: 35px;
	padding-bottom: 20px;
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	
}
.formLogin{
	
	box-shadow: 25px 18px 15px -3px rgba(0,0,0,0.1);

}

h2{
	font-size: 60px;
	align-content: center;
}

.botonesLog{

	width: 30vw;
	height: 100%;
	align-content: center;
	padding-top: 5%;
	padding-left: 4%;
	padding-right: 5%;
	background-color: rgba(0,0,0,0.5);
	font-size: 15px;	
}

.boton{
	color:aliceblue;
	border-color: rgb(0, 0, 0);
	background: transparent;
	--bs-btn-hover-border-color: rgb(242 242 245);
	--bs-btn-hover-bg: none;
	border-radius: 20%;

}