*{
  padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.h3, h3 {
	font-size: 100px;
	color: rgb(237, 235, 239);
	padding: 40px 40%;
}

.avatar{
	float: right;	
	display: inline-block;
	color: white;
	padding-right:30px;
	
}

.h2, h2 {
	font-size: 15px;
}

.hero{
	width: 100vw;
	height: 100vh;
	background-image:url("/images/ImagenInicio2.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	font-size: 35px
}

nav{
	display: flex;
	justify-content:space-around;
	padding: 25px 10px;
	font-size: 45px;
}

.nav>li{
	float: left ;
}

.mb3{
	font-size: 25px;
}

.nav li ul{
	display: none;
	position:absolute;
}

.menu{
	margin-right: 20px;
}

.menu ul{
	margin-left: -28px;
}

.nav li:hover>ul{
	display: block;
}

.btn{
	color:aliceblue;
	border-color: white;
	background-color: black;
}

.btn-outline-dark{
	--bs-btn-hover-border-color: rgb(242 242 245);
	--bs-btn-hover-bg: none;
	font-size: 35px
}

ul,ol{
	list-style: none;
}

.carrusel{
	padding-top: 11%;
	padding-left: 20%;
	padding-right: 20%;
}
.img-carrusel{
	padding-left: 10%;
	width: 80%;
	height: 350px;
border-radius: 10%;
}
